@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
p{
    font-weight: 500;
}

h4{
    font-weight: 700;
}
.hero-section{
    height: 100vh
}

.hero{
    display: flex;
    justify-content: center;
    background-color: #E5E5E5;
    align-items: center;
    height: 100%;
}

.hero-img{
    width: 300px;
    height: 360px;
    transform: scaleX(-1);
    object-fit: cover;
    object-position: 0% 0%;
}
.hero-text{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 100px;
    height: 200px;
}

.btn-regular{
    padding: 6px 20px 6px 20px;
    background-color: #024873;
    border: 0.2px solid rgb(7, 7, 20);
    border-radius: 4px;
    color: white;
}

.services-section{
    height: 90vh;
    padding: 20px;
    margin-bottom: 25px;
}

.section-header{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.service-row{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 30px 0 30px;
}

.first-service{
    background-color: #E0E7EB;
}

.fourth-service{
    background-color: #E1F0DB;
}

.service-item{
    display: flex;
    height: 200px;
    width: 506px;
    margin: 0 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px  1px;
    padding: 15px 20px;
}

.service-img{
   width: 70px;
   height: 70px;
   border-radius: 50%;
   margin-right: 10px;
}

.service-item-header{
   margin-bottom: 15px;
}

.testimony-section{
    background-color: #E5E5E5;
    padding: 1px;
}

.whyUs{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
}

.whyUs-img{
    height: 300px;
    border-radius: 8px;
    margin-left: 18px;
    order: 2;
}

.whyUs-text{
    order: 1;
}

.reviews{
    padding: 100px;
}

.carousel{
    height: 20rem;
    margin: auto;  
}

.user-testimony-container{
    background-color: #F3F3F3;
    text-align: center; 
    padding: 10px;
    border-radius: 7px;
}
.carousel-item img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: auto auto;
}

.carousel-indicators li{
    background-color: #024873 !important;
    width: 6px !important;
    height: 6px !important;
    border-radius: 50% !important;
}

@media (max-width: 950px){
    .whyUs{
        padding: 0 30px;
    }
}
@media (max-width: 767px){
    .hero{
        flex-direction: column;
    }

    .hero-text{
        margin-left: 0;
    }
    
    .services-section{
        height: inherit;
    }

    .service-row{
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .service-item{
        margin-bottom: 20px;
        width: 90%;
    }

    .whyUs{
        flex-direction: column;
    }

    .whyUs-img{
        order: 1;
        margin-bottom: 30px;
        width: 90%;
        height: inherit;
        margin-left: 0;
    }
    
    .whyUs-text{
        text-align: center;
        order: 2;
        padding: 0 20px;
    }
    
    .reviews{
        padding: 30px;
    }
}
@media (max-width: 450px){
    .services-section{
        padding: 0;
    }
    .whyUs{
        padding: 0;
    }
}