body {
  background: #e5e5e5;
}
a{
    text-decoration: none;
}
li{
    margin: 0 5;
}
.container header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}
.container header li {
  display: inline;
}
.container .top-text {
  text-align: center;
}
.top-text h1 {
  color: #024873;
}
.top-text h4 {
  color: #444;
}

.container .login-box {
  width: 50%;
  margin: 0 auto;
  padding: 20px 60px;
  height: auto;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(70, 70, 70, 0.6);
}
.container .login-box .form-group label:nth-child(1) {
  display: block;
}
.form-group {
  margin-bottom: 20px;
}
.form-group input[type="email"],
.form-group input[type="password"] {
  outline: none;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  border: none;
  border: 1px solid whitesmoke;
}
form button,
li button {
  background: #035e96;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(70, 70, 70, 0.6);
  color: #fff;
}
form button {
  width: 100%;
}

